.waiting {
    width: 70px;
}

.waiting > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;

    -webkit-animation: waiting-bouncedelay 1.4s infinite ease-in-out both;
    animation: waiting-bouncedelay 1.4s infinite ease-in-out both;
}

.waiting .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.waiting .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes waiting-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes waiting-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
