:host {
    width: 100%;
}
header {
    padding: 0.5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    color: #ffffff;
    background: #2f6ca4;
}
header img {
    height: 4rem;
    margin-right: 1rem;
}
h2 {
    font-weight: 300;
    margin: auto 0;
    font-size: 1.3rem;
}
.app-name {
    text-overflow: ellipsis;
}
.nickname {
    flex-grow: 1;
    text-align: right;
    margin-right: 1rem;
}
